
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;
:root{
    --color-bg: #FFDEAD;
    --white-smoke:  #F5F5F5;
    --color-primary: #7380ec;
    --color-danger:  #ff7782;
    --color-success:  #41f1b6;
    --color-warning: #ffbb55;
    --color-white:  #fff;
    --color-info-dark:  #7d8da1;
    --color-info-light:  #dce1eb;
    --color-dark: #363949;
    --color-light:  rgba(132,139,200,0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --card-border-radius:  2rem;
    --border-radius-1:  0.4rem;
    --border-radius-2:  0.8rem;
    --border-radius-3:  1.2rem;
    --card-padding:  2rem;
    --padding: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

body{
    background-color: grey;
}
.main {
    background-color:grey;
    height: 100vh;
    display: block;

    


}

.header{
   display: block;
   align-items: center;
   justify-content: center;
    

    overflow: auto;
    border-radius: 25px;
  

   
}
.header h2{
    color: black;
    display: block;
    margin: auto;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}
.webpage_header{
    background-color: dimgray;
    margin: 20px;

}
nav{
    display: block;
    align-items: center;
    justify-content: space-between;

}
nav ul{
    background-color: darkgray;
    margin: 25px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding:  10px 25px;
}

nav ul li a{
    color: black;
    font-size: 35px;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;





}

nav ul li a:hover{
    color: darkmagenta;
    transition: .4s;
}
.info{
    display: block;
    width: 100%;
    height: auto;
    overflow: auto;
}
.verse{
    display: block;
   
    overflow: auto;
    float: right;
    margin: 10px;
    background-color: dimgray;
    border-radius: 5px;
    width: 335px;
    height: fit-content;

}
.verse h2{
    color: darkred;
}

.explanation{
    float: left;
   margin: 10px;
   background-color: dimgray;
    overflow: auto;
    border-radius: 5px;
    width: 600px;
    height: fit-content;
   

}



.gameweek_info{
    background-color: dimgray;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameweek_info_header{
    text-align: center;
    display: block;
    font-size: 30px;
    background-color: dimgray;
    margin: 20px;
}
.deadline{
    display: inline-block;
    width: fit-content;
    margin: 20px;
    padding: 10px;
    color: darkred;
    font-size: 20px;
    background-color: grey;
}
.chips{
    display: inline-block;
    width: fit-content;
    margin: 20px;
    padding: 10px;
    background-color: grey;
    font-size: 20px;
}



.recent-orders {
    margin: 20px;
    background-color: dimgray;
    display: block;
}

.recent-orders h2{
    text-align: center;
    color: black;
    font-size: 30px;
}


.recent-orders table{
    
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.recent-orders table:hover{
    box-shadow: none;
}

table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color light);
    color:  black;
}

table tbody tr:last-child td {
    border: none;
}
.formation_name_info, .team_value_info, .ict_form_info, .budget_info{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    white-space: nowrap;
    border-radius: 7px;
    padding: 10px 15px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;

}


.ict_form_info{
    white-space: normal;
}


.formation_name_info::before, .team_value_info::before, .ict_form_info::before, .budget_info::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #000 #0000 #0000 #0000;

}


#help1, #help2, #help3, #help4{
  position: relative;
  cursor: pointer;


}

#help1:hover .formation_name_info{
    top: -130%;
    visibility: visible;
    opacity: 1;
}

#help2:hover .team_value_info{
    top: -130%;
    visibility: visible;
    opacity: 1;
}

#help3:hover .ict_form_info{
    top: -130%;
    visibility: visible;
    opacity: 1;
    font-size: 10px;
    white-space: normal;
}

#help4:hover .budget_info{
    top: -130%;
    visibility: visible;
    opacity: 1;
    font-size: 10px;
}




.results{
    margin-top: 2rem;
    background-color: grey;
    width: 100%;
    margin: 15px;
}

.pos{
    display: inline-block;
    margin: 5px;
    background-color: dimgray;
}

.pos img{
    width: 150px;

}
.gk img{
    width: 150px;
}
.formation_name{
    text-align: center;
    color: black;
    font-size: 30px;
    width: 100%;
    margin: 15px;
    background-color: dimgray;
}

.captain_name{
    text-align: center;
    color: darkmagenta;
    background-color: darkgray;
    margin-left: 40px;
    margin-right: 40px;

}

.price{
    color: darkred;
}

.help{
    display: inline-block;
}



.player h3{
    color: darkmagenta;
}



/*********************************Help page******************************************/
.main_help_info img{
    max-width: 100%;
    height: 500px;
    margin: 20px;

}
.help_main_info p{
    line-height: 2.5;
    font-size: 20px;

}

.help_main_info {
    background-color: dimgray;
    margin: 20px;
}
.help_main_info a{
    color: darkmagenta;
    text-decoration: none;

}

.help_main_info a:hover{
    text-decoration: underline;
}


.influence {
    background-color: dimgray;
    margin: 20px;
}


.influence h2{
    font-size: 33px ;
}

.influence p{
    line-height: 2.5;
    font-size: 20px;
}

.creativity {
    background-color: dimgray;
    margin: 20px;
}
.creativity h2{
    font-size: 33px ;
}

.creativity p{
    line-height: 2.5;
    font-size: 20px;
}

.threat {
    background-color: dimgray;
    margin: 20px;
}
.threat h2{
    font-size: 33px ;
}

.threat p{
    line-height: 2.5;
    font-size: 20px;
}

.overall {
    background-color: dimgray;
    margin: 20px;
}

.overall h2{
    font-size: 33px ;
}

.overall p{
    line-height: 2.5;
    font-size: 20px;
}
.main_help_info{

    display: inline-block;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;


}

//***********************************************************************************STATS*************************************/


*, *:before, *:after {
    box-sizing:border-box;
}

body {
    padding:$base-spacing-unit;
    font-family:'Source Sans Pro', sans-serif;
    margin:0;
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
}

.xg{
    padding: 5px;
    display: block;
    background-color: dimgray;
    margin: 30px;
}

.container {
    max-width: 1000px;
    margin-right:auto;
    margin-left:auto;
    display:block;
    justify-content:center;
    align-items:center;
    
}

.table {
    width:100%;
    border:1px solid $color-form-highlight;
    display: block;
    background-color: dimgray;
    margin: 10px;
}
.table_head_info{
    font-size: 30px;
    text-align: center;
}
.table-header {
    display:flex;
    width:100%;
    background:#000;

}

.table-row {
    display:flex;
    width:100%;
   
}

.table-data, .header__item {
    flex: 1 1 20%;
    text-align:center;
}

.header__item {
    text-transform:uppercase;
}

.filter__link {
    color:white;
    text-decoration: none;
    position:relative;
    display:inline-block;
    padding-left:$base-spacing-unit;
    padding-right:$base-spacing-unit;
    

}
.footer{
    text-align: center;
    color: darkmagenta;
    font-size: 25px;
    font-weight: bold;
}
