{% extends 'index.html' %}
{% block maincontent %}

<section class="header">
		
			<nav>
				<a class="logo" href="{{url_for('home')}}">FPL<span>CHEATBOT</span></a>
				<div class="nav-links" id='navLinks'>
				<i class="fa fa-times" onclick="hideMenu()"></i>

				<ul>
					<li><a href="{{url_for('home')}}">Home</a></li>
					<li><a href="{{url_for('livescore')}}">Livescore</a></li>
					<li><a href="{{url_for('formations')}}">Formation Drafts</a></li>
					<li><a href="{{url_for('news')}}">News</a></li>
					<!--<li><a href="{{url_for('stats')}}">Stats</a></li>
					<li><a href="{{url_for('manager_info')}}">Manager info</a></li> -->
					<li><a href="{{url_for('help')}}">How It Works</a></li>
					<li><a href="https://yemisi-portfolio.herokuapp.com/" target="_blank"  >Contact Me</a></li>
					
				</ul>
				
				</div>
				<i class="fa fa-bars" onclick="showMenu()"></i>
				
			</nav>
			
	

		<div class="text-box">
			<h1>FORMATION DRAFTS</h1>
		</div>

	</section>



	
		<div class="info">
			

		<div class="explanation">
			<h3>This is an Automated live Script that chooses the best available(Injury free) players to start in your FPL team based on ICT (Influence, Creativity, Threat) and Form for all FPL Formations. It follows all the FPL rules (3 players max from a particular team, budget of £100M, etc). This only picks the starting 11, Use the remaining budget to pick your bench.</h3>
			
		</div>
		</div>

	<section class="stat_tables">
 	<h3>FORMATION SUMMARY</h3>
 	<div class="table_infos">
 	<table>

 		<tr>
 			<th>Formation name</th>
 			<th>Team Value</th>
 			<th>ICT FORM</th>
 			<th>Remaining Budget</th>
 			
 			
 		</tr>
 		{% for x in formations%}
 		<tr>
 			<td>{{x['name']}}</td>
 			<td>{{x['value']}}</td>
 			<td>{{x['ict_form']}}</td>
 			<td>{{x['budget']}}</td>
 			
 			
 		</tr>
 		{% endfor %}

 			

 	</table>
	</div> 	
		
 </section>
	
		
<div class="results">
<!------------------------------------------  Dream Team ------------------------------------------------------------------->
	<div class="formation">
				<h2 class="formation_name">Dream Team</h2>
				<h3 class="captain_name"> CAPTAIN: {{dream['captain']['name']}} </h3>
				<h3>GOALKEEPER</h3>
			<div class="player">
				
				{% for x in dream['GK'] %}
				<div class="pos">
				<div class="gk">
					<div class="dream_team_img">
						<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
					<span class="material-symbols-outlined dream_star">stars</span>
					</div>
					
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>
				</div>	
			{% endfor %}

				
			</div>
			<h3>DEFENDERS</h3>
				<div class="player">
				
				{% for x in dream['DEF'] %}
				<div class="pos">
					<div class="dream_team_img">
						<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
					<span class="material-symbols-outlined dream_star">stars</span>
					</div>
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			{% endfor %}

				
			</div>
			<h3>MIDFIELDERS</h3>
			<div class="player">
				
				{% for x in dream['MID'] %}
				<div class="pos">
					<div class="dream_team_img">
						<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
					<span class="material-symbols-outlined dream_star">stars</span>
					</div>
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			{% endfor %}

				
			</div>
			<h3>FORWARDS</h3>
			<div class="player">
				
				{% for x in dream['FOW'] %}
				<div class="pos">
					<div class="dream_team_img">
						<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
					<span class="material-symbols-outlined dream_star">stars</span>
					</div>
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			{% endfor %}

				
			</div>
			</div>

<!------------------------------------------  Formation 1 ------------------------------------------------------------------->

			<div class="formation">
				<h2 class="formation_name">FORMATION:442</h2>
				<h3 class="captain_name"> CAPTAIN: {{f442['captain']['name']}} </h3>
				<h3>GOALKEEPER</h3>
			<div class="player">
				
				{% for x in f442['GK'] %}
				<div class="pos">
				<div class="gk">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>	
				<b><p> Transfer in:{{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out:{{x['transfer_out_event']}}</p></b>
				<b><p> Selected by:{{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			</div>
			{% endfor %}

				
			</div>
			<h3>DEFENDER</h3>
				<div class="player">
				
				{% for x in f442['DEF'] %}
				<div class="pos">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			{% endfor %}

				
			</div>
			<h3>MIDFIELDER</h3>
			<div class="player">
				
				{% for x in f442['MID'] %}
				<div class="pos">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			{% endfor %}

				
			</div>
			<h3>FORWARDS</h3>
			<div class="player">
				
				{% for x in f442['FOW'] %}
				<div class="pos">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			{% endfor %}

				
			</div>
			</div>
			
			<hr>

<!------------------------------------------ formation 2 ------------------------------------------------------------------->
	<div class="formation">
				<h2 class="formation_name">FORMATION:451</h2>
				<h3 class="captain_name"> CAPTAIN: {{f451['captain']['name']}} </h3>

				<h3>GOALKEEPER</h3>
			<div class="player">
				
				{% for x in f451['GK'] %}
				<div class="pos">
				<div class="gk">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>
				</div>	
			{% endfor %}

				
			</div>
			<h3>DEFENDERS</h3>
				<div class="player">
				
				{% for x in f451['DEF'] %}
				<div class="pos">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			{% endfor %}

				
			</div>
			<h3>MIDFIELDERS</h3>
			<div class="player">
				
				{% for x in f451['MID'] %}
				<div class="pos">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			{% endfor %}

				
			</div>
			<h3>FORWARDS</h3>
			<div class="player">
				
				{% for x in f451['FOW'] %}
				<div class="pos">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			{% endfor %}

				
			</div>
			</div>
<hr>
		<!------------------------------------------ formation 3 ------------------------------------------------------------------->
	<div class="formation">
				<h2 class="formation_name">FORMATION:433</h2>
				<h3 class="captain_name"> CAPTAIN: {{f451['captain']['name']}} </h3>

			<h3>GOALKEEPER</h3>	
			<div class="player">
				
				{% for x in f433['GK'] %}
				<div class="pos">
				<div class="gk">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>
					</div>
			{% endfor %}

				
			</div>
			<h3>DEFENDERS</h3>
				<div class="player">
				
				{% for x in f433['DEF'] %}
				<div class="pos">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			{% endfor %}

				
			</div>
			<h3>MIDFIELDERS</h3>
			<div class="player">
				
				{% for x in f433['MID'] %}
				<div class="pos">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			{% endfor %}

				
			</div>
				<h3>FORWARDS</h3>
			<div class="player">
				
				{% for x in f433['FOW'] %}
				<div class="pos">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			{% endfor %}

				
			</div>
			</div>

			<hr>
	<!------------------------------------------ formation 4 ------------------------------------------------------------------->
	<div class="formation">
				<h2 class="formation_name">FORMATION:532</h2>
				<h3 class="captain_name"> CAPTAIN: {{f532['captain']['name']}} </h3>
				<h3>GOALKEEPER</h3>
			<div class="player">
				
				{% for x in f532['GK'] %}
				<div class="pos">
				<div class="gk">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			</div>
			{% endfor %}

				
			</div>
			<h3>DEFENDERS</h3>
				<div class="player">
				
				{% for x in f532['DEF'] %}
				<div class="pos">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			{% endfor %}

				
			</div>

			<h3>MIDFIELDERS</h3>
			<div class="player">
				
				{% for x in f532['MID'] %}
				<div class="pos">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			{% endfor %}

				
			</div>
			<h3>FORWARDS</h3>
			<div class="player">
				
				{% for x in f532['FOW'] %}
				<div class="pos">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			{% endfor %}

				
			</div>
			</div>
<hr>
			<!------------------------------------------ formation 5------------------------------------------------------------------->
	<div class="formation">
				<h2 class="formation_name">FORMATION:352</h2>
				<h3 class="captain_name"> CAPTAIN: {{f352['captain']['name']}} </h3>
				<h3>GOALKEEPER</h3>
			<div class="player">
				
				{% for x in f352['GK'] %}
				<div class="pos">
				<div class="gk">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			</div>
			{% endfor %}

				
			</div>
			<h3>DEFENDERS</h3>
				<div class="player">
				
				{% for x in f352['DEF'] %}
				<div class="pos">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			{% endfor %}

				
			</div>
			<h3>MIDFIELDERS</h3>
			<div class="player">
				
				{% for x in f352['MID'] %}
				<div class="pos">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			{% endfor %}

				
			</div>
			<h3>FORWARDS</h3>
			<div class="player">
				
				{% for x in f352['FOW'] %}
				<div class="pos">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			{% endfor %}

				
			</div>
			</div>
			
			

<hr>
			<!------------------------------------------ formation 6------------------------------------------------------------------->
	<div class="formation">
				<h2 class="formation_name">FORMATION:343</h2>
				<h3 class="captain_name"> CAPTAIN: {{f343['captain']['name']}} </h3>

				<h3>GOALKEEPER</h3>
			<div class="player">
				
				{% for x in f343['GK'] %}
				<div class="pos">
					<div class="gk">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>
				</div>
					
			{% endfor %}

				
			</div>
			<h3>DEFENDERS</h3>
				<div class="player">
				
				{% for x in f343['DEF'] %}
				<div class="pos">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			{% endfor %}

				
			</div>
			<h3>MIDFIELDERS</h3>
			<div class="player">
				
				{% for x in f343['MID'] %}
				<div class="pos">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
					<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			{% endfor %}

				
			</div>
			<h3>FORWARDS</h3>
			<div class="player">
				
				{% for x in f343['FOW'] %}
				<div class="pos">
					<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				<b><p> Transfer in: {{x['transfer_in_event']}}</p></b>
				<b><p> Transfer out: {{x['transfer_out_event']}}</p></b>
				<b><p> Selected by: {{x['selected_by_percent']}}%</p></b>
				<b><p> Points per game: {{x['points_per_game']}}</p></b>
				<b><p class="price">Price: £{{x['now_cost']}}</p></b>
				</div>	
			{% endfor %}

				
			</div>
			</div>
			















		</div>

{% endblock %}