{% extends 'index.html' %}
{% block maincontent %}
<div class="webpage_header">
					<h2>HOW DOES IT WORK?</h2>
		</div>
		<hr>
<div class="main_help_info">
	<img src="../static/images/img2.jpg">
	<div class="help_main_info">
			<p >
		The ICT Index is a feature in <a href="https://fantasy.premierleague.com/">Fantasy Premier League </a> that offers managers insight to help guide strategies and selections.
		A football statistical index, it has been developed specifically to give a verdict on a player as an FPL asset.   

It uses match-event data to generate a single score for three key areas: Influence, Creativity and Threat. These figures then combine to create an individual’s ICT Index score.

It condenses more than 40 match event statistics into four distinct scores. These offer a view on player performance for factors that are known to produce FPL points.

	</p>
	</div>
	<div class="influence">
		<h2> Influence</h2>
		<p>Influence evaluates the degree to which a player has made an impact on a single match or throughout the season.

It takes into account events and actions that could directly or indirectly effect the outcome of the fixture.

At the top level these are decisive actions like goals and assists. But the Influence score also processes significant defensive actions to analyse the effectiveness of defenders and goalkeepers.</p>
	</div>
	<div class="creativity">
		<h2> Creativity</h2>
		<p>Creativity assesses player performance in terms of producing goalscoring opportunities for others. It can be used as a guide to identify the players most likely to supply assists.

While this analyses frequency of passing and crossing, it also considers pitch location and quality of the final ball.</p>
	</div>

		<div class="threat">
		<h2> Threat</h2>
		<p>This is a value that examines a player's threat on goal. It gauges the individuals most likely to score goals.

While attempts are the key action, the Index looks at pitch location, giving greater weight to actions that are regarded as the best chances to score.</p>
	</div>
		<div class="overall">
		<h2> Overall ICT Index</h2>
		<p>All three of these scores are combined to create an overall ICT Index score.

That then offers a single figure that presents a view on that player as an FPL asset, especially relative to others in the same position in FPL.  </p>
	</div>

</div>
{% endblock %}