<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>FPL CHEAT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-D2PR0K08RF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D2PR0K08RF');
</script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body>	


	<div class="main">
		<div class="header">
			<nav>
				
				
				<ul>
					<li><a href="{{url_for('home')}}">Home</a></li>
					<li><a href="{{url_for('stats')}}">Stats</a></li>
					<li><a href="{{url_for('help')}}">How It Works</a></li>
					<li><a href="https://yemisi-portfolio.herokuapp.com/" target="_blank"  >Contact Me</a></li>
					
				</ul>
				<hr>
				<div class="webpage_header">
					<h2>FPL CHEAT CODE BOT</h2>
				</div>
				
			</nav>
			
		</div>
		<hr>
		
		{% block maincontent %}
		{% endblock %}




		
			
		

				
		
<p class="footer">Created by Yemisi. © 2022 SEPTEMBER</p>
		</div>


</body>
</html>
