{% extends 'index.html' %}
{% block maincontent %}
	<div class="webpage_header ">
			<h2>Gameweek {{livescore['game_week']}}</h3>
			<p>Data automatically refreshes!</p>
		</div>
	<hr>
<div class="livescore_container">
	

		{%for x in range(0,length) %}
			<div class="match">
		<div class="match-header">
			{% if  livescore['Game_results'][x]['started']==True and livescore['Game_results'][x]['finished']==False %}
				<div id='match-status_ongoing' class="match-status">{{livescore['Game_results'][x]['mins']}}'</div>
			
			{% elif  livescore['Game_results'][x]['started']==False and livescore['Game_results'][x]['finished']==False%}
				<div class="match-status">Upcoming</div>
			{% else %}
				<div  class="match-status">Full Time</div>
			{% endif %}
			<div class="match-tournament"><img src="https://assets.codepen.io/285131/pl-logo.svg" />English Premier League</div>
			<div class="match-actions">
				<button class="btn-icon"><i class="material-icons-outlined"></i></button>
				<button class="btn-icon"><i class="material-icons-outlined"></i></button>
			</div>
		</div>
		<div class="match-content">
			<div class="column">
				<div class="team team--home">
					<div class="team-logo">
						
						<img src="{{livescore['Game_results'][x]['team_h_badge']}}" />
					</div>
					
					<h2 class="team-name">{{livescore['Game_results'][x]['team_h']}}</h2>

					{% if  livescore['Game_results'][x]['events']!=None %}
					
					{% for p in livescore['Game_results'][x]['events'] %}
					{% if p['team']=='h' and p['event_name']=='goal_scored' %}
						<p>(Goal) {{p['player_name']}}</p>
					{% elif p['team']=='h' and p['event_name']=='assist' %}
						<p>(Assist) {{p['player_name']}}</p>
					{% elif p['team']=='a' and p['event_name']=='own_goal' %}
						<p>(OG) {{p['player_name']}}</p>
					{% elif p['team']=='h' and p['event_name']=='bonus' %}
						<p id="{{p['event_name']}}">(Bonus Points) {{p['player_name']}}</p>
					{% endif %}
					{% endfor %}
					{% endif %}
			
				</div>
			</div>
			<div class="column">
				<div class="match-details">
					<div class="match-date">
						 <strong>{{livescore['Game_results'][x]['kick_off_time']}}</strong>
					</div>
					<div class="match-score">
						{%if livescore['Game_results'][x]['team_h_score'] ==None%}
						<span class="match-score-number match-score-number--leading">-</span>
						{% else %}
						<span class="match-score-number match-score-number--leading">{{livescore['Game_results'][x]['team_h_score']}}</span>
						{% endif %}
						<span class="match-score-divider">:</span>
						{%if livescore['Game_results'][x]['team_a_score'] ==None%}
						<span class="match-score-number">-</span>
						{% else %}
						<span class="match-score-number">{{livescore['Game_results'][x]['team_a_score']}}</span>
						{% endif %}
					</div>
					
					
					
				</div>
			</div>
			<div class="column">
				<div class="team team--away">
					<div class="team-logo">
				
						<img src="{{livescore['Game_results'][x]['team_a_badge']}}" />
					</div>
					<h2 class="team-name"> {{livescore['Game_results'][x]['team_a']}}</h2>
					{% if  livescore['Game_results'][x]['events']!=None %}
					
					{% for p in livescore['Game_results'][x]['events'] %}
					{% if p['team']=='a' and p['event_name']=='goal_scored' %}
						<p>(Goal) {{p['player_name']}}</p>
					{% elif p['team']=='a' and p['event_name']=='assist' %}
						<p>(Assist) {{p['player_name']}}</p>
					{% elif p['team']=='h' and p['event_name']=='own_goal' %}
						<p>(OG) {{p['player_name']}}</p>
					{% elif p['team']=='a' and p['event_name']=='bonus' %}
						<p id="{{p['event_name']}}">(Bonus Points) {{p['player_name']}}</p>
					{% endif %}
					{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	</div>





{% endblock %}