{% extends 'index.html' %}
{% block maincontent %}
	<div class="webpage_header ">
			<h2>Gameweek {{livescore['game_week']}}</h3>
			<p>Data automatically refreshes!</p>
		</div>
	<hr>
<div class="livescore_container">
		{%for date in livescore['date'] %}
		<div class="game_days">
			<h2>{{date}} </h2>
		</div>
			
		{%for x in range(0,length) %}
		{% if livescore['Game_results'][x]['kick_off_time'].find(date)!=-1 %}
			{{break}}
			<div class="match">	
		<div class="match-header">
			{% if  livescore['Game_results'][x]['started']==True and livescore['Game_results'][x]['minutes']!=90 %}
				<div id='match-status_ongoing' class="match-status">LIVE'</div>
			
			{% elif  livescore['Game_results'][x]['started']==False and livescore['Game_results'][x]['finished']==False%}
				<div class="match-status">Upcoming</div>
			{% elif livescore['Game_results'][x]['minutes']==90 %}
				<div  class="match-status">Full Time</div>
			{% endif %}
			<div class="match-tournament"><img src="https://assets.codepen.io/285131/pl-logo.svg" />English Premier League</div>
			
			<div class="match-actions">
				
				<a target="_blank" href="{{livescore['Game_results'][x]['twitter_link']}}" class="btn-icon fa fa-twitter">{{livescore['Game_results'][x]['twitter_handle']}}</a>
				
				
			</div>
			
			
		</div>
		<div class="match-content">
			<div class="column">
				<div class="team team--home">
					<div class="team-logo">
						
						<img src="{{livescore['Game_results'][x]['team_h_badge']}}" />
					</div>
					
					<h2 class="team-name">{{livescore['Game_results'][x]['team_h']}}</h2>

				
			
				</div>
			</div>
			<div class="column">
				<div class="match-details">
					<div class="match-date">
						 <strong>{{livescore['Game_results'][x]['display_time']}}</strong>
					</div>
					<div class="match-score">
						{%if livescore['Game_results'][x]['team_h_score'] ==None%}
						<span class="match-score-number match-score-number--leading">-</span>
						{% else %}
						<span class="match-score-number match-score-number--leading">{{livescore['Game_results'][x]['team_h_score']}}</span>
						{% endif %}
						<span class="match-score-divider">:</span>
						{%if livescore['Game_results'][x]['team_a_score'] ==None%}
						<span class="match-score-number">-</span>
						{% else %}
						<span class="match-score-number">{{livescore['Game_results'][x]['team_a_score']}}</span>
						{% endif %}
					</div>
					
					
					
				</div>
			</div>
			<div class="column">
				<div class="team team--away">
					<div class="team-logo">
				
						<img src="{{livescore['Game_results'][x]['team_a_badge']}}" />
					</div>
					<h2 class="team-name"> {{livescore['Game_results'][x]['team_a']}}</h2>

					
				</div>
			</div>
		</div>
		{% if  livescore['Game_results'][x]['events']!=None %}
		<div class="table game_details">
		<h3 class="table_head_info">GAME DETAILS</h3>
		<div class="table-header ">
			<div class="header__item"><a id="total" class="filter__link filter__link--number" >Home </a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" >EVENT </a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" >Away </a></div>
		</div>

		<div class="table-content">	
		
		
			<div class="table-row">
				
			<div class="table-data ">{{livescore['Game_results'][x]['home_goals_string']}} </div>
			<div class="table-data ">GOALS </div>
			<div class="table-data ">{{livescore['Game_results'][x]['away_goals_string']}} </div>
			
				
			</div>

			<div class="table-row">
				
			<div class="table-data ">{{livescore['Game_results'][x]['home_assists_string']}} </div>
			<div class="table-data ">ASSISTS </div>
			<div class="table-data ">{{livescore['Game_results'][x]['away_assists_string']}} </div>
			
				
			</div>

			<div class="table-row">
				
			<div class="table-data ">{{livescore['Game_results'][x]['home_yellowcards_string']}} </div>
			<div class="table-data ">YELLOW CARDS </div>
			<div class="table-data ">{{livescore['Game_results'][x]['away_yellowcards_string']}} </div>
			
				
			</div>


			<div class="table-row">
				
			<div class="table-data ">{{livescore['Game_results'][x]['home_redcards_string']}} </div>
			<div class="table-data ">RED CARDS </div>
			<div class="table-data ">{{livescore['Game_results'][x]['away_redcards_string']}} </div>
			
				
			</div>


			<div class="table-row">
				
			<div class="table-data  " id="bonus">{{livescore['Game_results'][x]['home_bonus']}} </div>
			<div class="table-data ">BONUS POINTS </div>
			<div class="table-data " id="bonus">{{livescore['Game_results'][x]['away_bonus']}} </div>
			
				
			</div>
			
			
			
		</div>	
	</div>



	{% endif %}

	</div>
	{% endif %}
	{% endfor %}
	{% endfor %}

	</div>





{% endblock %}