{% extends 'index.html' %}
{% block maincontent %}

	<section class="header">
		
			<nav>
				<a class="logo" href="{{url_for('home')}}">FPL<span>CHEATBOT</span></a>
				<div class="nav-links" id='navLinks'>
				<i class="fa fa-times" onclick="hideMenu()"></i>

				<ul>
					<li><a href="{{url_for('home')}}">Home</a></li>
					<li><a href="{{url_for('livescore')}}">Livescore</a></li>
					<li><a href="{{url_for('formations')}}">Formation Drafts</a></li>
					<li><a href="{{url_for('news')}}">News</a></li>
					<!--<li><a href="{{url_for('stats')}}">Stats</a></li>
					<li><a href="{{url_for('manager_info')}}">Manager info</a></li> -->
					<li><a href="{{url_for('help')}}">How It Works</a></li>
					<li><a href="https://yemisi-portfolio.herokuapp.com/" target="_blank"  >Contact Me</a></li>
					
				</ul>
				
				</div>
				<i class="fa fa-bars" onclick="showMenu()"></i>
				
			</nav>
			
	

		<div class="text-box">
			<h1>Gameweek {{livescore['game_week']}}</h1>
			<p>Data automatically refreshes!</p>
		</div>
	


	</section>



<div class="livescore_container">
		{%for date in livescore['date'] %}
		<div class="game_days">
			<h2>{{date}} </h2>
		</div>
			
		{%for x in range(0,length) %}
		{% if livescore['Game_results'][x]['kick_off_time'].find(date)!=-1 %}
			{{break}}
			<div class="match">	
		<div class="match-header">
			{% if  livescore['Game_results'][x]['started']==True and livescore['Game_results'][x]['minutes']!=90 %}
				<div id='match-status_ongoing' class="match-status">LIVE'</div>
			
			{% elif  livescore['Game_results'][x]['started']==False and livescore['Game_results'][x]['finished']==False%}
				<div class="match-status">Upcoming</div>
			{% elif livescore['Game_results'][x]['minutes']==90 %}
				<div  class="match-status">Full Time</div>
			{% endif %}
			<div class="match-tournament"><img src="https://assets.codepen.io/285131/pl-logo.svg" />English Premier League</div>
			
			<div class="match-actions">
				
				<a target="_blank" href="{{livescore['Game_results'][x]['twitter_link']}}" class="btn-icon fa fa-twitter">{{livescore['Game_results'][x]['twitter_handle']}}</a>
				
				
			</div>
			
			
		</div>
		<div class="match-content">
			<div class="column">
				<div class="team team--home">
					<div class="team-logo">
						
						<img src="{{livescore['Game_results'][x]['team_h_badge']}}" />
					</div>
					
					<h2 class="team-name">{{livescore['Game_results'][x]['team_h']}}</h2>

				
			
				</div>
			</div>
			<div class="column">
				<div class="match-details">
					<div class="match-date">
						 <strong>{{livescore['Game_results'][x]['display_time']}}</strong>

					</div>
					<div class="match-date home_stadium">
						 <strong>{{livescore['Game_results'][x]['home_stadium']}}</strong>

					</div>

					<div class="match-score">
						{%if livescore['Game_results'][x]['team_h_score'] ==None%}
						<span class="match-score-number match-score-number--leading">-</span>
						{% else %}
						<span class="match-score-number match-score-number--leading">{{livescore['Game_results'][x]['team_h_score']}}</span>
						{% endif %}
						<span class="match-score-divider">:</span>
						{%if livescore['Game_results'][x]['team_a_score'] ==None%}
						<span class="match-score-number">-</span>
						{% else %}
						<span class="match-score-number">{{livescore['Game_results'][x]['team_a_score']}}</span>
						{% endif %}
					</div>
					
					
					
				</div>
			</div>
			<div class="column">
				<div class="team team--away">
					<div class="team-logo">
				
						<img src="{{livescore['Game_results'][x]['team_a_badge']}}" />
					</div>
					<h2 class="team-name"> {{livescore['Game_results'][x]['team_a']}}</h2>

					
				</div>
			</div>
		</div>
		{% if  livescore['Game_results'][x]['events']!=None %}
		<section class="stat_tables">
		 	<h3>GAME DETAILS</h3>
		 	<div class="table_infos">
		 	<table>

		 		<tr>
		 			<th>HOME</th>
		 			<th>EVENT</th>
		 			<th>AWAY</th>		
		 		</tr>

		 		
		 		<tr>
		 			<td>{{livescore['Game_results'][x]['home_goals_string']}}</td>
		 			<td>GOALS</td>
		 			<td>{{livescore['Game_results'][x]['away_goals_string']}}</td>	
		 		</tr>
		 	
		 		<tr>
		 			<td>{{livescore['Game_results'][x]['home_assists_string']}}</td>
		 			<td>ASSISTS</td>
		 			<td>{{livescore['Game_results'][x]['away_assists_string']}}</td>	
		 		</tr>

		 		<tr>
		 			<td>{{livescore['Game_results'][x]['home_yellowcards_string']}} </td>
		 			<td>YELLOW CARDS</td>
		 			<td>{{livescore['Game_results'][x]['away_yellowcards_string']}} </td>	
		 		</tr>

		 		<tr>
		 			<td>{{livescore['Game_results'][x]['home_redcards_string']}}</td>
		 			<td>RED CARDS</td>
		 			<td>{{livescore['Game_results'][x]['away_redcards_string']}}</td>	
		 		</tr>

		 		<tr>
		 			<td id="bonus">{{livescore['Game_results'][x]['home_bonus']}}</td>
		 			<td>BONUS POINTS</td>
		 			<td id="bonus">{{livescore['Game_results'][x]['away_bonus']}}</td>	
		 		</tr>
		 			

		 	</table>
			</div> 	
		
 </section>
		



	{% endif %}

	</div>
	{% endif %}
	{% endfor %}
	{% endfor %}

	</div>





{% endblock %}