{% extends 'index.html' %}
{% block maincontent %}
<div class="webpage_header">
					<h2>FPL CHEAT BOT</h2>
		</div>
		<hr>
<div class="main-body">
	

		
		<div class="info">
				<div class="verse">
			<h2>{{verse}} </h2>
			
		</div>

		
		</div>

	<hr>
	<div class="gameweek_info_header">
			<h3>{{gameweek_info['Gameweek']}}: What FPL managers need to know!</h3>
	</div>

	<div class="gameweek_info">
		
		<div class="deadline">
			<p>The Deadline is {{gameweek_info['deadline_time']}} UK time</h3>
		</div>
		{% for x in gameweek_info['chip_plays']%}
		<div class="chips" id={{x['chip_name']}}>
			<p>{{x['chip_name']}} played by {{x['num_played']}} of our Managers</p>
		</div>
		{% endfor %}
	</div>
	
	<hr>

		
</div>

			<hr>
<div class="table">
		<h3 class="table_head_info">FIXTURE DIFFICULTY</h3>
		<div class="table-header">
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" >Team Name</a></div>
			{% for x in range(0,5) %}
			<div class="header__item"><a id="total" class="filter__link filter__link--number" >Next Opponent</a></div>
			{% endfor %}
	
			
			
		</div>
		<div class="table-content">	
		{% for x in fixtures %}
			<div class="table-row">
				
				<div class="table-data">{{x['team_id']}}</div>
				{% for y in range(0,5) %}
				{% if x['is_home'][y] %}
				<div class="table-data" id='difficulty{{x['difficulty'][y]}}'>{{x['fixtures'][y]}}(H)</div>
				{% else %}
				<div class="table-data" id='difficulty{{x['difficulty'][y]}}'>{{x['fixtures'][y]}}(A)</div>
				{% endif %}
				{% endfor %}
			</div>
			{% endfor %}
		</div>	
	</div>





<div class="table">
		<h3 class="table_head_info">MOST TRANSFERRED IN PLAYERS</h3>
		<div class="table-header">
			<div class="header__item"><a id="total" class="filter__link filter__link--number" >Ranking</a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" >Player Name</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" >Team</a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" >Transferred in by</a></div>	
		</div>

		<div class="table-content">	
		{% for index,x in transfer_in.iterrows() %}
			<div class="table-row">
				<div class="table-data">{{index+1}}</div>
				<div class="table-data">{{x['name']}}</div>
				<div class="table-data">{{x['team']}}</div>
				<div class="table-data">{{x['count']}} Managers</div>
				
			</div>
			{% endfor %}
		</div>	
	</div>
		

<div class="table">
		<h3 class="table_head_info">MOST TRANSFERRED OUT PLAYERS</h3>
		<div class="table-header">
			<div class="header__item"><a id="total" class="filter__link filter__link--number" >Ranking</a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" >Player Name</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" >Team</a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" >Transferred out by</a></div>	
		</div>

		<div class="table-content">	
		{% for index,x in transfer_out.iterrows() %}
			<div class="table-row">
				<div class="table-data">{{index+1}}</div>
				<div class="table-data">{{x['name']}}</div>
				<div class="table-data">{{x['team']}}</div>
				<div class="table-data">{{x['count']}} Managers</div>
				
			</div>
			{% endfor %}
		</div>	
	</div>

<div class="table">
		<h3 class="table_head_info">MOST SELECTED PLAYERS</h3>
		<div class="table-header">
			<div class="header__item"><a id="total" class="filter__link filter__link--number" >Ranking</a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" >Player Name</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" >Team</a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" >Owned by</a></div>	
		</div>

		<div class="table-content">	
		{% for index,x in selected.iterrows() %}
			<div class="table-row">
				<div class="table-data">{{index+1}}</div>
				<div class="table-data">{{x['name']}}</div>
				<div class="table-data">{{x['team']}}</div>
				<div class="table-data">{{x['percent']}}% of Managers</div>
				
			</div>
			{% endfor %}
		</div>	
	</div>

	
		

<div class="table">
		<h3 class="table_head_info">DIFFERENTIALS</h3>
		<div class="table-header">
			<div class="header__item"><a id="total" class="filter__link filter__link--number" >Ranking</a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" >Player Name</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" >Team</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" >Position</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" >Points per game</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" >Price</a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" >Owned by</a></div>	
		</div>

		<div class="table-content">	
		{% for index,x in differentials.iterrows() %}
			<div class="table-row">
				<div class="table-data">{{index+1}}</div>
				<div class="table-data">{{x['name']}}</div>
				<div class="table-data">{{x['team']}}</div>
				<div class="table-data">{{x['position']}}</div>
				<div class="table-data">{{x['points_per_game']}}</div>
				<div class="table-data">£{{x['price']}}</div>
				<div class="table-data">{{x['selected']}}% of Managers</div>
				
			</div>
			{% endfor %}
		</div>	
	</div>



{% endblock %}