{% extends 'index.html' %}
{% block maincontent %}
<div class="webpage_header">
					<h2>MANAGER INFORMATION</h2>
</div>
		<hr>
<div class="manager_info_container">
	<div class="w3-col m3">
	<div class="w3-card w3-round w3-white">
		<div class="w3-container">
		
			<p class="w3-center">
				
				<img src="../static/images/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar">
			</p>
			<hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Name: {{m_info['player_name']}}</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>Team Name: {{m_info['team_name']}}</p>
         <p><i class="fa fa-globe fa-fw w3-margin-right w3-text-theme"></i> Country: {{m_info['player_country']}}</p>
         <p><i class="fa fa-arrow-up fa-fw w3-margin-right w3-text-theme"></i> Overall Points: {{m_info['overall_points']}}</p>
         <p><i class="fa fa-list-ol fa-fw w3-margin-right w3-text-theme"></i> Overall Rank: {{m_info['overall_rank']}}</p>
         <p><i class="fa fa-male fa-fw w3-margin-right w3-text-theme"></i> GW Rank: {{m_info['gw_rank']}}</p>
         <p><i class="fa fa-bolt fa-fw w3-margin-right w3-text-theme"></i> GW Points: {{m_info['gw_points']}}</p>
		</div>

	 </div>
	
	</div>



		<!---
	<div class="w3-col m3">
	<div class="w3-card w3-round w3-white">
		<div class="w3-container">
		
			<p class="w3-center">
				
				<img src="../static/images/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar">
			</p>
			<hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Designer, UI</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
		</div>

	 </div>
	
	</div>
-->
</div>

{% endblock %}