{% extends 'index.html' %}
{% block maincontent %}

<section class="header">
		
			<nav>
				<a class="logo" href="{{url_for('home')}}">FPL<span>CHEATBOT</span></a>
				<div class="nav-links" id='navLinks'>
				<i class="fa fa-times" onclick="hideMenu()"></i>

				<ul>
					<li><a href="{{url_for('home')}}">Home</a></li>
					<li><a href="{{url_for('livescore')}}">Livescore</a></li>
					<li><a href="{{url_for('formations')}}">Formation Drafts</a></li>
					<li><a href="{{url_for('news')}}">News</a></li>
					<!--<li><a href="{{url_for('stats')}}">Stats</a></li>
					<li><a href="{{url_for('manager_info')}}">Manager info</a></li> -->
					<li><a href="{{url_for('help')}}">How It Works</a></li>
					<li><a href="https://yemisi-portfolio.herokuapp.com/" target="_blank"  >Contact Me</a></li>
					
				</ul>
				
				</div>
				<i class="fa fa-bars" onclick="showMenu()"></i>
				
			</nav>
			
	

		<div class="text-box">
			<h1>LATEST PLAYER NEWS</h1>
			<p>{{current_date_time}}</p>
		</div>
	


	</section>


<div class="news_container">
{% for index,x in news.iterrows() %}

	<div class="each_news">
		<div class="pos">
			<b><p> Time: {{x['time']}}</p></b>
				<img class='img' src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ x['photo'] }}">
				<b><p> {{x['name']}}</p></b>
				{% if x['price_change']=='risen' %}
					<b><p id='{{x['price_change']}}' class="price">Price has risen to £{{x['news']}}</p></b>
				{% elif x['price_change']=='fallen' %}
					<b><p id='{{x['price_change']}}' class="price">Price has fallen to £{{x['news']}}</p></b>
				{% else %}
					<b><p id='{{x['price_change']}}' class="price">{{x['news']}}</p></b>
				{% endif %}
		</div>	

		
	</div>
	

{% endfor %}
</div>


{% endblock %}