{% extends 'index.html' %}
{% block maincontent %}
<div class="webpage_header">
					<h2>STATISTICS</h2>
		</div>
		<hr>
<div class="container">
	<div class="help_main_info xg">
			<p >
	Expected goals (xG) is the new revolutionary metric in low scoring sports like football, which allows you to evaluate team and player performance.

 This is why more and more sports analytics turn to the advanced models like xG and xGA, which is a statistical measure of the quality of chances created and conceded, because match score does not provide a clear picture of performance.

My goal was to create the most precise method for shot quality evaluation.

For this case, we trained neural network prediction algorithms with the large dataset (>100,000 shots, over 10 parameters for each).

On this site, you will find our detailed xG and xGA statistics for the Premier Leagues.
Ideally, You would want to pick Defenders and Goalkeepers from Teams with the lowest xGA.
	</p>
	</div>
	
	<div class="table">
		<h3 class="table_head_info">Players Expected Goals (xG)</h3>
		<div class="table-header">
			<div class="header__item"><a id="wins" class="filter__link filter__link--number" >Ranking</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" >Player Name</a></div>
			<div class="header__item"><a id="losses" class="filter__link filter__link--number" >Goals</a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" >xG</a></div>
			
			
		</div>
		<div class="table-content">	
		{% for x in xg%}
			<div class="table-row">
				<div class="table-data">{{x['rankings']}}</div>
				<div id='{{x['p']}}' class="table-data">{{x['name']}}</div>
				<div class="table-data">{{x['goals']}}</div>
				<div class="table-data">{{x['xg']}}</div>
			
			</div>
			{% endfor %}
		</div>	
	</div>

	<div class="table">
		<h3 class="table_head_info">Players Expected Assist (xA)</h3>
		<div class="table-header">
			<div class="header__item"><a id="wins" class="filter__link filter__link--number" >Ranking</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" >Player Name</a></div>
			<div class="header__item"><a id="losses" class="filter__link filter__link--number" >Assist</a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" >xA</a></div>
			
			
		</div>
		<div class="table-content">	
		{%for index, row in xa.iterrows(): %}
			<div class="table-row">
				<div  class="table-data">{{index+1}}</div>
				<div id='{{row['p']}}' class="table-data">{{row['name']}}</div>
				<div class="table-data">{{row['assist']}}</div>
				<div class="table-data">{{row['xa']}}</div>
			
			</div>
			{% endfor %}
		</div>	
	</div>

	<div class="table">
		<h3 class="table_head_info">Expected Goals Against (xGA)</h3>
		<div class="table-header">
			
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" >Team Name</a></div>
			<div class="header__item"><a id="losses" class="filter__link filter__link--number">GoalKeeper</a></div>
			<div class="header__item"><a id="losses" class="filter__link filter__link--number" >Matches Played</a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" >Wins</a></div>
			<div class="header__item"><a id="name" class="filter__link">Draws</a></div>
			<div class="header__item"><a id="wins" class="filter__link filter__link--number" >Losses</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number">xGA</a></div>
			
			
		</div>
		<div class="table-content">	
		{% for index,x in teams_data.iterrows() %}
			<div class="table-row">
				
				<div class="table-data">{{x['squad']}}</div>
				<div class="table-data">{{x['goal_keeper']}}</div>
				<div class="table-data">{{x['mp']}}</div>
				<div class="table-data">{{x['w']}}</div>
				<div class="table-data">{{x['d']}}</div>
				<div class="table-data">{{x['l']}}</div>
				<div class="table-data">{{x['xga']}}</div>	
			</div>
			{% endfor %}
		</div>	
	</div>

	<div class="reference">
		<p>The data was gotten from <a href="https://fbref.com/en/" target="_blank">FBREF</a></p>
		<p id=overperforming>Green -> Players Outperforming their xG</p>
		<p id=underperforming>Red -> Players Underperforming their xG</p>		
	</div>
</div>
{% endblock %}